@font-face{font-family:"Quicksand-Dash";src:url("../fonts/Quicksand_Dash.otf");}
@font-face{font-family:"Quicksand-Book";src:url("../fonts/Quicksand_Book.otf");}
@font-face{font-family:"Quicksand-Light";src:url("../fonts/Quicksand_Light.otf");}
@font-face{font-family:"Quicksand-Bold";src:url("../fonts/Quicksand_Bold.otf");}
@font-face{font-family:"Quicksand-Book_Oblique";src:url("../fonts/Quicksand-Book_Oblique.otf");}
@font-face{font-family:"Quicksand-Light_Oblique";src:url("../fonts/Quicksand-Light_Oblique.otf");}
@font-face{font-family:"Quicksand-Bold_Oblique";src:url("../fonts/Quicksand-Bold_Oblique.otf");}

body{
	background:#e3f2fd;
	font-size:20px;
	font-family:Quicksand-Book;
	
}
.header > h1{
	font-family:Quicksand-Light;
}
h1
{
	font-family:Quicksand-Bold;
}
.yellow
{
		
	border-style:solid;
	border-radius:7px;
	border-color:#73716e;
	background:#fde9a2;
	padding:15px;
}

#arrows
{
	font-size:2em;
}

#left{cursor:pointer;}
#right{cursor:pointer;}